<% book.book_comments.each do |book_comment| %>
  <div class="row flex-container">
    <%= link_to(book_comment.user) do %>
      <%= image_tag book_comment.user.get_profile_image, size:"100x100" %><br>
      <%= book_comment.user.name %>
    <% end %>
    <%= safe_join(book_comment.comment.split("\n"),tag(:br)) %>
    <% if book_comment.user == current_user %>
      <div><%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class:"btn btn-danger", remote: true %></div>
    <% end %>
  </div>
<% end %>
